html, body {
  visibility: hidden;
}

body.ready {
  visibility: visible;
  transition: visibility 0s ease 0s, background-color 0.4s ease, color 0.4s ease;
}

/* Theme */
:root,
:root[data-theme='light'] {
  --primary: oklch(27% 0 271);
  --secondary: oklch(55.5% 0 271);
  --inactive: oklch(76% 0 271);
  --surface: oklch(98.5% 0 271);

  --switch: oklch(0% 0 0);

  --focus: oklch(0.72 0.16 250);

  --type-school: oklch(73% 0.1 133);
  --type-fictive: oklch(45.5% 0.2 291.5);
  --type-freelance: oklch(65% 0.1 223.5);
}

:root[data-theme='dark'] {
  --primary: oklch(88% 0 271);
  --secondary: oklch(66% 0 271);
  --inactive: oklch(51% 0 271);
  --surface: oklch(14% 0 271);

  --switch: oklch(100% 0 275);
}


/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: .875rem;
}

body {
  background: var(--surface);
  color: var(--primary);
  transition: background-color 0.4s ease, color 0.4s ease;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
}

main {
  position: relative;
  background: var(--surface);
  padding: 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}

#page-hero {
  position: relative;
  overflow: hidden;
}

body.project-page #page-hero {
  height: 600px;
}

#page-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.4);
}

body.project-page #page-bg {
  height: 600px;
}

.text--secondary {
  color: var(--secondary);
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.4s ease;
}

/* Components */
.link {
  overflow: hidden;

  & .link__label {
    display: flex;
    flex-direction: row;
    gap: .125rem;

    & svg {
      width: 16px;
      height: 16px;
      fill: var(--primary);
      transition: fill 0.4s ease;
    }

    & p {
      transition: color 0.4s ease;
    }
  }

  & .link__label.text--secondary {
    & p {
      color: var(--secondary);
    }

    & svg {
      fill: var(--secondary);
    }
  }

  & .link__border {
    width: 100%;
    height: 1px;
    background-color: var(--inactive);
  }

  & .link__border--hover {
    width: 100%;
    height: 1px;
    background-color: var(--primary);
    transform: translateX(-100%) translateY(-1px);
    transition: transform 0.4s ease;
  }
}

.link:hover {
  & .link__label {
    & p {
      color: var(--primary);
    }

    & svg {
      fill: var(--primary);
    }
  }

  & .link__border--hover {
    transform: translateX(0) translateY(-1px);
  }
}
