html, body {
  visibility: hidden;
}

p.line-height--150 {
  line-height: 1.5;
}

html.scroll-locked,
body.scroll-locked {
  overflow: hidden;
  height: 100%;
}

body.ready {
  visibility: visible;
  transition: visibility 0s ease 0s, background-color 0.4s ease, color 0.4s ease;
}

/* Theme */
:root,
:root[data-theme='light'] {
  --primary: oklch(27% 0 271);
  --secondary: oklch(55.5% 0 271);
  --inactive: oklch(76% 0 271);
  --surface: oklch(98.5% 0 271);

  --switch: oklch(0% 0 0);

  --focus: oklch(0.72 0.16 250);

  --type-school: oklab(73.187% -0.12951 0.13864);
  --type-fictive: oklch(45.5% 0.2 291.5);
  --type-freelance: oklch(65% 0.1 223.5);
}

:root[data-theme='dark'] {
  --primary: oklch(88% 0 271);
  --secondary: oklch(66% 0 271);
  --inactive: oklch(51% 0 271);
  --surface: oklch(14% 0 271);

  --switch: oklch(100% 0 275);
}


/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: .875rem;
}

body {
  background: var(--surface);
  color: var(--primary);
  transition: background-color 0.4s ease, color 0.4s ease;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
}

main {
  position: relative;
  background: var(--surface);
  color: var(--primary);
  padding: 2rem;
  transition: background-color 0.4s ease, color 0.4s ease;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}

footer {
  background: var(--surface);
  color: var(--primary);
  transition: background-color 0.4s ease, color 0.4s ease;
}

#page-hero {
  position: relative;
  overflow: hidden;
}

body.project-page #page-hero {
  height: 600px;
}

#page-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.4);
}

body.project-page #page-bg {
  height: 600px;
}

.text--secondary {
  color: var(--secondary);
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.4s ease;
}
