/* Home Section */
.home {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  /* Showcase */
  & #works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
    row-gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto auto auto auto auto;
      gap: 1.5rem;
      row-gap: 1rem;
    }

    @media screen and (min-width:769px) and (max-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto;
      gap: 2rem;
      row-gap: 2rem;
    }

    & h3 {
      grid-column: 1 / 2;
      grid-row: 1;

      @media screen and (min-width:769px) and (max-width: 1280px) {
        grid-column: 1 / 3;
        grid-row: 1;
      }
    }

    @media screen and (min-width: 1281px) {
      & .projet:nth-child(2) .projet__image {
        height: 600px;
      }

      & .projet:nth-child(3) .projet__image {
        height: 440px;
      }

      & .projet:nth-child(4) .projet__image {
        height: 520px;
      }

      & .projet:nth-child(5) .projet__image {
        height: 600px;
      }
    }

    & .projet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      grid-row: 2;

      @media screen and (max-width: 768px) {
        grid-column: 1 / 2;
        grid-row: auto;
      }

      @media screen and (min-width:769px) and (max-width: 1280px) {
        grid-column: auto;
        grid-row: auto;
      }

      &:hover {
        & .projet__image img {
          transform: scale(1.05);
        }
      }

      & .projet__content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
      }

      & .projet__content__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
      }

      & .projet__image {
        overflow: hidden;

        @media screen and (max-width: 768px) {
          width: 100%;
          height: auto;
        }

        @media screen and (min-width:769px) and (max-width: 1280px) {
          width: 100%;
          height: auto;
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.4s ease;

          @media screen and (max-width: 768px) {
            width: 100%;
            height: 320px;
            object-fit: cover;
          }

          @media screen and (min-width:769px) and (max-width: 1280px) {
            width: 100%;
            height: 340px;
            object-fit: cover;
          }
        }
      }

      & .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .25rem;

        & .tag {
          padding: .25rem;
          background-color: var(--primary);
          color: var(--surface);
          font-size: .75rem;
        }
      }
    }
  }

  /* Playground */
  & #playground {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .playground__content {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
      }

      & .col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        width: 100%;

        @media screen and (max-width: 768px) {
          gap: 1rem;
        }

        @media screen and (min-width: 768px) and (max-width: 1280px) {
          &:nth-child(4) {
            display: none;
          }
        }

        & .playground__item {
          position: relative;
          overflow: hidden;
          height: 180px;
          width: 100%;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.4s ease;
          }

          & .title {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            transition: left 0.4s ease;
          }

          & .date {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            transition: right 0.4s ease;
          }

          &:hover {
            & .date {
              right: 1.5rem
            }

            & .title {
              left: 1.5rem
            }

            & img {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1281px) {

  /* Items Heights */
  .playground__content .col:nth-child(3) .playground__item:nth-child(2),
  .playground__content .col:nth-child(2) .playground__item:nth-child(1) {
    height: 340px !important;
  }

  .playground__content .col:nth-child(4) .playground__item:nth-child(1) {
    height: 620px !important;
  }
}