/* Theme */
:root,
:root[data-theme='light'] {
  --primary: oklch(27% 0 271);
  --secondary: oklch(55.5% 0 271);
  --inactive: oklch(76% 0 271);
  --surface: oklch(98.5% 0 271);

  --switch: oklch(0% 0 0);

  --focus: oklch(0.72 0.16 250);

  --type-school: oklch(73% 0.1 133);
  --type-fictive: oklch(45.5% 0.2 291.5);
  --type-freelance: oklch(65% 0.1 223.5);
}

:root[data-theme='dark'] {
  --primary: oklch(88% 0 271);
  --secondary: oklch(66% 0 271);
  --inactive: oklch(51% 0 271);
  --surface: oklch(14% 0 271);

  --switch: oklch(100% 0 275);
}


/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: .875rem;
}

body {
  background: var(--surface);
  color: var(--primary);
  transition: background-color 0.4s ease, color 0.4s ease;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

main {
  padding: 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}

p.text--secondary {
  color: var(--secondary);
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.4s ease;
}

/* Components */
.link {
  overflow: hidden;

  & .link__label {
    display: flex;
    flex-direction: row;
    gap: .125rem;

    & svg {
      width: 16px;
      height: 16px;
      fill: var(--primary);
      transition: fill 0.4s ease;
    }

    & p {
      transition: color 0.4s ease;
    }
  }

  & .link__label.text--secondary {
    & p {
      color: var(--secondary);
    }

    & svg {
      fill: var(--secondary);
    }
  }

  & .link__border {
    width: 100%;
    height: 1px;
    background-color: var(--inactive);
  }

  & .link__border--hover {
    width: 100%;
    height: 1px;
    background-color: var(--primary);
    transform: translateX(-100%) translateY(-1px);
    transition: transform 0.4s ease;
  }
}

.link:hover {
  & .link__label {
    & p {
      color: var(--primary);
    }

    & svg {
      fill: var(--primary);
    }
  }

  & .link__border--hover {
    transform: translateX(0) translateY(-1px);
  }
}

/* Header */
header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto auto auto;
  gap: 2rem;
  row-gap: 4rem;
  padding: 2rem;
  transition: height 0.5s ease;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    gap: 1.5rem;
    row-gap: 3rem;
    padding: 1rem;
  }

  @media screen and (min-width:769px) and (max-width: 1280px) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    gap: 1.5rem;
    row-gap: 3rem;
  }

  & .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 300px; */
    z-index: -1;
    transition: height 0.5s ease;
  }

  & .switch {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 20px;
    height: 20px;
    border-radius: 999px;
    background-color: var(--switch);
    cursor: pointer;
    transition: background-color 0.4s ease;

    @media screen and (max-width: 768px) {
      top: 1rem;
      right: 1rem;
    }

    @media screen and (min-width:769px) and (max-width: 1280px) {
      top: 2rem;
      right: 2rem;
    }
  }

  & .header__title {
    grid-column: 1 / 5;
    grid-row: 1;

    @media screen and (max-width: 768px) {
      grid-column: 1 / 5;
      grid-row: 1;
    }

    @media screen and (min-width:769px) and (max-width: 1280px) {
      grid-column: 1 / 5;
      grid-row: 1;
    }
  }

  & .header__cities {
    grid-column: 5 / 9;
    grid-row: 1;

    @media screen and (max-width: 768px) {
      grid-column: 1 / 5;
      grid-row: 2;
    }

    @media screen and (min-width:769px) and (max-width: 1280px) {
      grid-column: 5 / 9;
      grid-row: 1;
    }
  }

  & .header__services {
    grid-column: 9 / 13;
    grid-row: 1;

    @media screen and (max-width: 768px) {
      grid-column: 1 / 5;
      grid-row: 3;
    }

    @media screen and (min-width:769px) and (max-width: 1280px) {
      grid-column: 1 / 5;
      grid-row: 2;
    }
  }

  & .header__email {
    grid-column: 13 / 17;
    grid-row: 1;

    @media screen and (max-width: 768px) {
      grid-column: 1 / 5;
      grid-row: 4;
    }

    @media screen and (min-width:769px) and (max-width: 1280px) {
      grid-column: 5 / 9;
      grid-row: 2;
    }
  }

  & .header__intro {
    grid-column: 9 / 13;
    grid-row: 2;


    @media screen and (min-width:520px) and (max-width: 768px) {
      grid-column: 1 / 3;
    }

    @media screen and (max-width: 768px) {
      grid-column: 1 / 5;
      grid-row: 5;
    }

    @media screen and (min-width:769px) and (max-width: 1280px) {
      grid-column: 1 / 5;
      grid-row: 3;
    }

    @media screen and (min-width:1100px) and (max-width: 1280px) {
      grid-column: 1 / 4;
      grid-row: 3;
    }
  }

  & .header__intro p {
    line-height: 1.5;
  }

  & .header__links {
    grid-column: 9 / 17;
    grid-row: 3;

    @media screen and (max-width: 768px) {
      grid-column: 1 / 5;
      grid-row: 6;
    }

    @media screen and (min-width:769px) and (max-width: 1280px) {
      grid-column: 1 / 9;
      grid-row: 4;
    }
  }

  &>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .25rem;
  }
}

/* Home Section */
.home {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  & #works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
    row-gap: 1rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto auto auto auto auto auto;
      gap: 1.5rem;
      row-gap: 1rem;
    }

    @media screen and (min-width:769px) and (max-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto;
      gap: 2rem;
      row-gap: 2rem;
    }

    & h3 {
      grid-column: 1 / 2;
      grid-row: 1;

      @media screen and (min-width:769px) and (max-width: 1280px) {
        grid-column: 1 / 3;
        grid-row: 1;
      }
    }

    & .projet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      grid-row: 2;

      @media screen and (max-width: 768px) {
        grid-column: 1 / 2;
        grid-row: auto;
      }

      @media screen and (min-width:769px) and (max-width: 1280px) {
        grid-column: auto;
        grid-row: auto;
      }

      & .projet__content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
      }

      & .projet__content__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;
      }

      & .projet__image {
        @media screen and (max-width: 768px) {
          width: 100%;
          height: auto;
        }

        @media screen and (min-width:769px) and (max-width: 1280px) {
          width: 100%;
          height: auto;
        }

        & img {
          width: 100%;
          height: auto;

          @media screen and (max-width: 768px) {
            width: 100%;
            height: 320px;
            object-fit: cover;
          }

          @media screen and (min-width:769px) and (max-width: 1280px) {
            width: 100%;
            height: 340px;
            object-fit: cover;
          }
        }
      }

      & .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .25rem;

        & .tag {
          padding: .25rem;
          background-color: var(--primary);
          color: var(--surface);
          font-size: .75rem;
        }
      }
    }
  }
}