/* Variables */
:root {
  --primary: #262626;
  --secondary: #737373;
  --background: #fafafa;
}


/* Global */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: .875rem;
}

body {
  background: #fafafa;
  color: var(--primary);
}

main {
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  main {
    padding: 1rem;
  }
}

/* Header */
header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  gap: 2rem;
  row-gap: 4rem;
  padding: 2rem;
  transition: height 0.5s ease;
}

header .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 300px; */
  z-index: -1;
  transition: height 0.5s ease;
}

header .text--secondary {
  color: var(--secondary);
}

header .switch {
  position:absolute;
  top: 2rem;
  right: 2rem;
  width: 20px;
  height: 20px;
  border: 1px solid #FFF;
  border-radius: 999px;
  background-color: #262626;
  cursor: pointer;
}

.header__title {
  grid-column: 1 / 2;
  grid-row: 1;
}

.header__cities {
  grid-column: 2 / 3;
  grid-row: 1;
}

.header__services {
  grid-column: 3 / 4;
  grid-row: 1;
}

.header__email {
  grid-column: 4 / 5;
  grid-row: 1;
}

.header__intro {
  grid-column: 3 / 5;
  grid-row: 2;
}

.header__intro p {
  width: 70%;
  line-height: 1.5;
}

.header__links {
  grid-column: 3 / 5;
  grid-row: 3;
}

header>div {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

@media screen and (max-width: 768px) {
  header {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    gap: 1.5rem;
    row-gap: 3rem;
    padding: 1rem;
  }

  header .switch {
    top: 1rem;
    right: 1rem;
  }

  .header__title {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .header__cities {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .header__services {
    grid-column: 1 / 2;
    grid-row: 3;
  }

  .header__email {
    grid-column: 1 / 3;
    grid-row: 4;
  }

  .header__intro {
    grid-column: 1 / 3;
    grid-row: 5;
  }

  .header__links {
    grid-column: 1 / 3;
    grid-row: 6;
  }

  .header__intro p {
    width: 100%;
  }  
}

/* Home Section */