/* Theme */
:root,
:root[data-theme='light'] {
  --primary: oklch(27% 0 271);
  --secondary: oklch(55.5% 0 271);
  --surface: oklch(98.5% 0 271);

  --switch: oklch(0% 0 0);

  /* --selected--color:
  --selected--background: */

  --color-focus: oklch(0.72 0.16 250);
  --color-placeholder: oklch(95.5% 0 271);

  --type-school: oklch(73% 0.1 133);
  --type-fictive: oklch(45.5% 0.2 291.5);
  --type-freelance: oklch(65% 0.1 223.528);
}

:root[data-theme='dark'] {
  --primary: oklch(88.531% 0.0001 271.152);
  --secondary: oklch(66.655% 0.00008 271.152);
  --surface: oklch(14.479% 0.00002 271.152);

  --switch: oklch(100% 0 275);
}


/* Global */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: .875rem;
}

body {
  background: var(--surface);
  color: var(--primary);
  transition: background-color 0.4s ease, color 0.4s ease;
}

main {
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  main {
    padding: 1rem;
  }
}

/* Header */
header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  gap: 2rem;
  row-gap: 4rem;
  padding: 2rem;
  transition: height 0.5s ease;
}

header .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 300px; */
  z-index: -1;
  transition: height 0.5s ease;
}

.text--secondary {
  color: var(--secondary);
}

header .switch {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  background-color: var(--switch);
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.header__title {
  grid-column: 1 / 2;
  grid-row: 1;
}

.header__cities {
  grid-column: 2 / 3;
  grid-row: 1;
}

.header__services {
  grid-column: 3 / 4;
  grid-row: 1;
}

.header__email {
  grid-column: 4 / 5;
  grid-row: 1;
}

.header__intro {
  grid-column: 3 / 5;
  grid-row: 2;
}

.header__intro p {
  width: 70%;
  line-height: 1.5;
}

.header__links {
  grid-column: 3 / 5;
  grid-row: 3;
}

header>div {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

@media screen and (max-width: 768px) {
  header {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    gap: 1.5rem;
    row-gap: 3rem;
    padding: 1rem;
  }

  header .switch {
    top: 1rem;
    right: 1rem;
  }

  .header__title {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .header__cities {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .header__services {
    grid-column: 1 / 2;
    grid-row: 3;
  }

  .header__email {
    grid-column: 1 / 3;
    grid-row: 4;
  }

  .header__intro {
    grid-column: 1 / 3;
    grid-row: 5;
  }

  .header__links {
    grid-column: 1 / 3;
    grid-row: 6;
  }

  .header__intro p {
    width: 100%;
  }
}

/* Home Section */
.home {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.home #works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 2rem;
  row-gap: 1rem;
}

.home #works h3 {
  grid-column: 1 / 2;
  grid-row: 1;
}

.home #works .projet {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-row: 2;
}

.home #works .projet .projet__content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.home #works .projet img {
  width: 100%;
  height: auto;
}

.home #works .projet .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .25rem;
}

.home #works .projet .tags .tag {
  padding: .25rem;
  background-color: var(--primary);
  color: var(--surface);
  font-size: .75rem;
}

@media screen and (max-width: 768px) {
  .home #works {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    gap: 1.5rem;
    row-gap: 1rem;
  }

  .home #works h3 {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .home #works .projet {
    grid-column: 1 / 2;
    grid-row: auto;
  }

  .home #works .projet img {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }
}